		#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#UserTable{
			background-color:  Orange;
		}


		#orders-delivered{
			background-color: #7abecc;
		}

		#orders-pending{
			background-color: #7CD1C0;
		}

		.hellowuser{
			color: white;
		}

		.hidden {
			display: none;
		}
	
